 .content {
    background-color: #fff;
    width:120%;
    padding: 40px;
   margin: 0 auto;
    border-radius: 8px;
    box-shadow: 1px 1px 1px 4px rgba(0, 0, 0, 0.1);
  }
  
  .input-box {
    margin-bottom: 15px;
  }
 

  .details  {
    display: block;
    margin-bottom: 5px;
    color: #000000;
  }
  
  .button input {
    background-color: #000d6b;
    color: #fff;
   
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  

  .button input:hover {
    background-color: #4caf50;
    color: #fff;
  }
  
  .maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  
  @media(max-width:600px){
    .content{
        width: 100%;

    }
  } 